<!-- Page Wrapper -->
<div id="wrapper">
  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
   <app-header></app-header>
  </ul>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
  
      <!-- Begin Page Content -->
      <router-outlet></router-outlet>
      <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->
  
    <app-footer></app-footer>
  </div>
  <!-- End of Content Wrapper -->
  
  
  <!-- <app-dashboard></app-dashboard> -->
</div>
<!-- End of Page Wrapper -->

