
<div class="container-fluid mt-4">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">OrderDetails</h1>
    <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-download fa-sm text-white-50"></i> 
        Generate Report
      </a> -->
  </div>

  <!-- Content Row -->

  <div class="row">
    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-12">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
        >
          <h6 class="m-0 font-weight-bold text-primary">
            Add OrderDetails
          </h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <form #myOrder="ngForm" (ngSubmit)="onSubmit()">
            <div class="row">
              
              <div class="col-md-4">
                <mat-form-field>
                  <mat-select placeholder="Customer Id" [(ngModel)]="Order.customerId" name="customerId">
                      <!-- [value]="food.value" -->
                    <mat-option *ngFor="let item of customers"  [value]="item.customerId">
                      {{ item.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                
              </div>
              <div class="col-md-4">
                <mat-form-field>
                  <mat-select placeholder="Product Id" [(ngModel)]="Order.productId" name="productId">
                      <!-- [value]="food.value" -->
                    <mat-option *ngFor="let item of products"   [value]="item.productId">
                      {{ item.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                
              </div>

              
              <div class="col-md-4">
                <mat-form-field>
                  <input
                    [(ngModel)]="Order.orderNumber"
                    matInput
                    placeholder="Order Number"
                    name="OrderDetails Number"
                    required
                    [disabled]="Isdisabled"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field>
                  <input
                    [(ngModel)]="Order.quanutity"
                    matInput
                    placeholder="Quantity"
                    name="Quantity"
                    required
                    [disabled]="Isdisabled"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field>
                  <input
                    [(ngModel)]="Order.total"
                    matInput
                    placeholder=" Total"
                    name="Total"
                    required
                    [disabled]="Isdisabled"
                  />
                </mat-form-field>
              </div>
             
            
            </div>
            &nbsp;&nbsp;&nbsp;
            <div class="text-center">
            <button
              class="btn btn-primary "
              [disabled]="!myOrder.form.valid || Isdisabled"
            >
              Submit
            </button>
          </div>
          </form>
          <ng2-toasty></ng2-toasty>
        </div>
      </div>
    </div>
  </div>
</div>
